<div class="logo"><img src="https://cdn.manipalprolearn.com/sites/default/files/logo_0_1-45px.png"></div><br>
<a href="/dashboard">Back to Home</a>
<div class="about-section">
    
    <h1>Learn the skills you need, Build the future you deserve </h1><br>
    <h5>Manipal ProLearn is a leading professional learning platform, 
        empowering individuals to master new skills </h5>
    
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
       
        <div class="container">
          <h2> Rahul Salvino</h2>
          <p class="title">CEO & Founder</p>
          <p>Mike Salvino is an Indian business executive.
               He was named president and CEO of Manipal Prolearn in 2019.
                He previously served as group chief executive for Accenture Operations. 
              
          </p>
    <p>rahul.salvino@manipal.com</p>
         
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        
        <div class="container">
          <h2>Mike Ross</h2>
          <p class="title">Art Director</p>
          <p> He previously served as group chief executive for Accenture Operations. 
            and Mike has written contributor articles for Chief Art Executive</p>
          <p>mike.rose1@manipal.com</p>
          
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
      
        <div class="container">
          <h2>John Doe</h2>
          <p class="title">Admin</p>
          <p>John is the admin of this official page.He handles all work related to sites for the company</p>
          <p>john@example.com</p>
          
        </div>
      </div>
    </div>
  </div>