<div class="logo"><img src="https://cdn.manipalprolearn.com/sites/default/files/logo_0_1-45px.png"></div><br>
<a href="/dashboard">Back to Home</a>


  <div  class="row">
    <div class="column">
      <div  class="card">
       
        <div class="container">
          <h2> Contact Information</h2>
         
          <p>Contact Information
          
            Manipal Prolearn
            7, Service Road, Pragathi Nagar,
           
            Electronic City, Bengaluru,
            Karnataka 560100
           
          </p>
          <p>support@manipalprolearn.com</p>
         
        </div>
      </div>
    
  </div>